In [3]:
import pandas as pd 
import numpy as np

s1 = pd.Series([7.3,-2.5,3.4,1.5],index=['a','c','d','e'])
s2 = pd.Series([-2.1,3.6,-1.5,4,3.1],index=['a','c','e','f','g'])
display(s1)
display(s2)
#使用數學運算子的運算
display(s1+s2)
#使用實體方法的運算
s1.add(s2,fill_value=0)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

a    5.2
c    1.1
d    3.4
e    0.0
f    4.0
g    3.1
dtype: float64

In [5]:
#sort_index()
s1 = pd.Series(range(4),index=['d','a','b','c'])
display(s1)
display(s1.sort_index())

d    0
a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
d    0
dtype: int64

In [7]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
                     index=['three','one'],
                     columns= ['d','a','b','c']
                     )
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [9]:
display(frame)
display(frame.sort_index())
display(frame.sort_index(axis='columns'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [11]:
s3 = pd.Series([4,7,-3,2])
display(s3)
display(s3.sort_values())#由小到大
display(s3.sort_values(ascending=False)) #由大到小

0    4
1    7
2   -3
3    2
dtype: int64

2   -3
3    2
0    4
1    7
dtype: int64

1    7
0    4
3    2
2   -3
dtype: int64

In [14]:
frame = pd.DataFrame({'b':[4,7,-3,2],
              'a':[0,1,0,1]
              })
display(frame)
display(frame.sort_values(by='b'))
display(frame.sort_values(by=['a','b']))

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [20]:
#rank
obj = pd.Series([7,-5,7,4,2,0,4])
display(obj)
display(obj.rank(method='average'))
display(obj.rank(method='first'))
display(obj.rank(method='min'))

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [31]:
df = pd.read_csv("學生成績.csv")
df.index=df['學號']
df1=df.drop(columns='學號')
df1['排名'] = df1['總分'].rank(method='min',ascending=False)
df1.sort_values(by='總分',ascending=False)

     姓名   國文   英文   數學   地理  歷史   總分    平均    排名
學號
20  余宗儒   92   99   89   73  88  441  88.2   1.0
34  趙偉銘   97   80   94   75  93  439  87.8   2.0
50  方筠紹   92   57  100   99  84  432  86.4   3.0
37  林康亮   85   95   63   84  99  426  85.2   4.0
13  林清英   96   66   99   84  77  422  84.4   5.0
29  吳昕婷   97   65   99  100  57  418  83.6   6.0
18  艾巧夫   63   97   75   86  81  402  80.4   7.0
16  陳向愛   93   90   69   68  81  401  80.2   8.0
38  張凡成   98   59   72   85  85  399  79.8   9.0
21  趙家豪  100   60   68   74  95  397  79.4  10.0
25  林珍旺   70   76   87   69  93  395  79.0  11.0
48  王柏聖   50   95   84   73  92  394  78.8  12.0
47  吳俐芷   84   71   95   59  83  392  78.4  13.0
28  王坤安   93   54   92   93  57  389  77.8  14.0
1   盧冠發   95   57   96   80  59  387  77.4  15.0
30  蔡世馨   55   80   61   91  99  386  77.2  16.0
40  張彥博   97   70   87   68  64  386  77.2  16.0
14  劉耿琦   99   55   81   85  64  384  76.8  18.0
9   張俊傑   72   61   76   86  87  382  76.4  19.0
6   鞠冠宇   52   91   89   71  77  380  76.0  20.0
44  周琬婷   83   85   59   54  97  378  75.6  21.0
41  胡芳瑜   59   74   97   87  61  378  75.6  21.0
36  黃嘉琪   85   62   56   89  85  377  75.4  23.0
32  黃旻林   68   84   86   77  62  377  75.4  23.0
3   林益妏   56   97   93   57  72  375  75.0  25.0
35  黃淑芬   92   88   63   73  59  375  75.0  25.0
22  鍾俞禎   63   66   91   73  81  374  74.8  27.0
7   林益妏   63   70   80   69  91  373  74.6  28.0
4   藍哲嘉   75   93   83   57  64  372  74.4  29.0
12  張軒宸   64   91   74   73  69  371  74.2  30.0
46  馮淑芬   75   90   66   81  57  369  73.8  31.0
17  陳逸凡   75   67   68   84  73  367  73.4  32.0
49  賴心怡   86   72   76   73  59  366  73.2  33.0
5   王柏聖   55   55   71   90  94  365  73.0  34.0
10  黃雅慧   94   80   66   55  68  363  72.6  35.0
33  黃詩妃   73  100   66   52  71  362  72.4  36.0
8   王人仰   55   82   59   84  81  361  72.2  37.0
39  黃淑芬   64   61   94   56  86  361  72.2  37.0
43  楊火帆   99   51   75   51  82  358  71.6  39.0
27  謝哲維   77   70   77   66  67  357  71.4  40.0
23  王惠皓   57   53   85   72  89  356  71.2  41.0
42  陳志偉   77   72   64   86  57  356  71.2  41.0
2   林佳人   70   58   83   78  66  355  71.0  43.0
24  黃彥孝   82   76   68   55  72  353  70.6  44.0
11  詹忠光   60   91   61   85  56  353  70.6  44.0
15  陳彥治   60   87   56   67  82  352  70.4  46.0
45  楊偉翔   85   56   71   56  82  350  70.0  47.0
26  吳晴洋   92   85   54   53  55  339  67.8  48.0
31  王良斌   94   57   56   68  63  338  67.6  49.0
19  魏秋萍   74   54   93   54  56  331  66.2  50.0